<article class="post">
    <div class="content">
    <p> Your Username: {{posts.[0].user.username}}</p>
        <p>  Your Posts: {{posts.length}}</p>
        <a href="/dashboard/edituser"> Edit Profile </a>
    </div>
    </article>